body {
    max-width: 100%;
    font-family: 'Darker Grotesque';
    display: grid;
    margin: auto;
    color: white;
    font-size: 32px;
}

a {
    text-decoration: none;
    color: #333333;
    font-size: 32px;
}

a:hover {
    text-decoration: underline;
    color: #333333;
}

div.a {
    padding-top: 2%;
    max-width: 100%;
    height: auto;
    position: relative;
    background-color: #85cdf5;
}

section.a {
    background-image: url("imgs/image\ \(3\).png");
    position: relative;
    height: 200px;
    max-width: 99%;
    text-align: center;
    padding: 40vh;
    padding-left: 20%;
}

div.b {
    padding-left: 5%;
    max-width: auto;
    position: absolute;
    text-align: center;
}

div.c {
    position: relative;
    text-align: center;
    max-width: 100%;
    padding-bottom: 5%;
    background-color: #2c567f;
}

div.c h4 {
    padding-left: 12%;
    padding-right: 10%;
    font-size: 24px;
    text-align: center;
    margin: auto;
    width: 75%;
}

.centralizado {
    padding-left: 2%;
    color: #deb959;
    text-align: center;
    padding-bottom: 0px;
}

p.especial {
    padding-left: 120px;
    padding-right: 60px;
}

div.d {
    background-color: #333333;
    width: 100%;
    height: auto;
}

li.a {
    max-width: 100%;
    display: inline;
    margin-right: 14%;
}

li {
    display: inline;
    padding-left: 7%;
}

li.carinho {
    display: inline;
    padding-left: 14%;
    padding-right: 10%;
}

li.resgate {
    display: inline;
    padding-left: 14%;
}

li.quinto {
    display: table;
    margin-top: 10px;
    padding-bottom: 22px;
    padding-left: 50px;
}

ul.quinto {
    display: table-cell;
    width: 600px;
}

li.especial {
    display: inline;
    padding-left: 18%;
}

li.ultimo {
    display: inline;
    padding-left: 15%;
    padding-right: 6%;
}

header h2 {
    color: #333333;
}

img.a {
    display: inline;
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;
    border-radius: 190px;
    background-color: white;
}

div.conteudo {
    display: table;
    background-color: #333333;
    padding-bottom: 5%;
    font-size: 28px;
}

p {
    display: table-cell;
    background-color: #333333;
}

section.quarta {
    display: table;
    color: black;
    margin: 5%;
}

section.quinto {
    padding-left: 80px;
    background-color: #333333;
    font-size: 24px;
}

div.borda {
    max-width: 100%;
    position: relative;
    background: linear-gradient(to right, #deb959, #333333);
    padding: 10px;
}

div.sombra {
    position: absolute;
    height: 450px;
    width: 650px;
    background-color: #2c5680;
    border: 5px solid black;
}

img.quarta {
    display: table-cell;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}

div.texto {
    display: table-cell;
    float: left;
    font-size: 24px;
    width: 700px;
    margin-top: 15px;
}

div.texto2 {
    display: table-cell;
    float: left;
    font-size: 24px;
    width: 700px;
    margin-right: 40px;
}

div.sombra2 {
    position: absolute;
    height: 450px;
    width: 650px;
    margin-left: 750px;
    background-color: #2c5680;
    border: 5px solid black;
}

img.quinto {
    display: table-cell;
    float: left;
    width: 400px;
    margin-bottom: 50px;
    margin-left: 100px;
    position: relative;
}

img.quinto2 {
    display: table-cell;
    float: right;
    width: 150px;
    margin-top: 3%;
    margin-right: 200px;
    position: relative;
}

button {
    background-color: #deb959;
    border: none;
    columns: #333333;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    border-radius: 12px;
}

i {
    color: white;
}

.develop {
    margin-top: 0%;
    padding-left: 75%;
    margin-bottom: 0%;
}